*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #6482AD;
   padding-left: 20px;
   padding-right: 20px;
   padding: 20px;

}

.cinema-style{
    color: #ca1515;
}

.logo-contain{
    align-content: center;

}

.search-contain{
  
    position: relative;
}

.input-search{
    height: 50px;
    width: 48rem;
    border-radius: 10px;
    padding: 20px;
    border: none;
    
}

.search-icon{
    height: 30px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);


}



.select-muvie-city{
    height: 50px;
    width: 120px;
    border-radius: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    
    
}

.sign-btn{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    color: #000;


}

.sign-btn:hover{
    color: #220909;
    background-color: #ac9595;
    font-size: 30px;
}

.menu-img{
    height: 50px;
}

/* sub header */

.sub-header{
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    padding: 10px;
    background-color: #9eafc4;
}

.muvie-contain{
    margin-left: 25px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    padding: 10px;
}

.right-muvie-contain{
    margin-right: 25px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    padding: 10px;
}


.banner-section{
    width: 100%;

}

.banner-img{
    width: 100%;
}



.muvie-city{
    margin-top: 40px;
    margin-left: 20px;
}

.city-name{
    margin-bottom: 35px;
}

.language-name{
    margin-top: 10px;
}

.language{
    margin-right: 20px;
    border: 1px solid #000;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    
}

.language:hover{
    background-color: #cde2ff;
    border: 2px solid #000;
}


.coming-soon-main-container{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    border: 2px solid #000;
    padding: 20px;
    border-radius: 20px;
    background-color: #d2ddec;
}

.upcoming-muvie{
    cursor: pointer;  
}

.upcoming-muvie:hover{
    color: #0067f7;
}

.muvie-content{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.muvie-card{
    width: fit-content;
    border: 3px solid #64646b;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-left: 15px;
    
    
}


.muvie-card:hover{
    transform: rotateY(0deg) rotateX(10deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.muvie-img{
    width: 100%;
    height: 400px;
    border-radius: 6px;
}

.muvie-about{
    padding: 5px;
}

.muvie-heading{
    margin-bottom: 8px;
    
}

.muvie-type{
    margin: 5px;
    color: #8f8585;
}

.btn-contain{
    margin: 10px 0px;
    display: flex;

}

.muvie-btn{
    padding: 5px;
    width: 75%;
    border: 2px solid #000;
    border-radius: 10px;
    font-weight: bold;
    background: #ffffff;
    cursor: pointer;
}

.muvie-btn:hover{
    background: #7ea4da;
}

.info-img-about{
    height: 40px;
    margin-left: 15px;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    
}

.info-img-about:hover{
   
    background: #7ea4da;
}

.footer-secton{
    margin-top: 40px;
    height: fit-content;
    background-color: #6482AD;
}

.website-footer-logo{
    padding: 10px;
    width: 100%;
    background-color: #9eafc4;

}

.footer-logo{
    text-align: center;
    font-size: 25px;
}

.footer-logo-color{
    color: #ca1515;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.foooter-socialmedia-icon{
    width: 30px;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    background-color: #9eafc4;
}

.copyright-contain{
    margin-top: 10px;
}

.copy-para{
    text-align: center;
    padding: 3px;
}

.footer-h3-heading{
    padding: 10px;
}

.foot-content{
    padding: 15px;
    text-decoration: none;
    color: #000;
}

















/* mobile device */

@media screen and (max-width:500px) {
     
    .select-city{
        display: none;
    }

    .sign-contain{
        display: none;
    }

    .input-search{
        height: 15px;
        width: 15rem;
        padding: 18px;
        
    }

    .muvie-main-heading{
        font-size: 19px;
    }

    .search-icon{
        height: 20px;

    }

    .menu-img{
        
        height: 40px;
    }

    .sub-header{
        display: none;
    }

    .muvie-city{
        display: none;
    }

    .coming-soon-main-container{
        padding: 8px;
    }

    .coming-soon{
        font-size: 15px;
    }

  .upcoming-muvie{
    font-size: 15px;
  }

  .muvie-card{
    width: 210px;

  }

  .muvie-img{
    width: 100%;
    height: 50%;

  }

  .muvie-heading{
    font-size: 15px;
  }

  .muvie-type{
    font-size: 13px;
  }

  .muvie-btn{
    width: 65%;
  }

  .about-website{
    display: none;
  }

  .contact-us-footer{
    display: none;
  }


}


/* Tablet device */

@media screen and (min-width:501px) and (max-width: 768px) {
  

    .muvie-main-heading{
        font-size: 24px;
    }

    .input-search{
        height: 45px;
        width: 20rem;
        padding: 18px;
        
    }

    .select-muvie-city{
        height: 45px;
        width: 100px;
        border-radius: 10px;
        padding: 5px;
    }

    .sign-contain{
        display: none;
    }

    .menu-img{
        
        height: 45px;
    }

    .sub-header{
        display: none;
    }

    .language{
        margin-right: 10px;
        font-size: 10px;

    }

    .city-name{
        margin-bottom: 20px;
    }



    .coming-soon-main-container{
        padding: 10px;
    }

    .coming-soon{
        font-size: 20px;
    }
  .upcoming-muvie{
    font-size: 20px;
  }

  .muvie-card{
    width: 250px;

  }

  .muvie-img{
    width: 100%;
    height: 50%;

  }

  .muvie-heading{
    font-size: 17px;
  }

  .about-website{
    display: none;
  }


}

/* desktop website */

@media screen and (min-width:769px) and (max-width:1069px){

    .input-search{
        height: 45px;
        width: 23rem;

    }

    .muvie-main-heading{
        font-size: 28px;
    }

    .sign-contain{
        display: none;
    }

    .menu-img{
        
        height: 45px;
    }

    .select-muvie-city{
        height: 45px;
        width: 95px;
        border-radius: 10px;
        padding: 3px;
    }

    .muvie-contain{
        font-size: 13px;
    }

    
.right-muvie-contain{
       
    font-size: 13px;

    }

    .city-name{
        margin-bottom: 25px;
    }

}